<div class="content about-bg" id="about">
  <h1 class="heading"><span>{{ 'about.heading' | t }}</span></h1>
  <div class="about-layout">
    <div class="about-card about-identity">
      <img src="assets/img/amar-linkedin.jpeg" alt="Amar Nandeshwar" class="about-avatar" />
      <h3>Amar Khushal Nandeshwar</h3>
      <p class="about-role">{{ 'about.role' | t }}</p>
      <p class="about-meta">{{ 'about.location' | t }}</p>
      <div class="about-tags">
        <span *ngFor="let item of highlights">{{ item | t }}</span>
      </div>
    </div>

    <div class="about-card about-details">
      <div class="about-facts">
        <div class="fact">
          <label>{{ 'about.facts.email' | t }}</label>
          <span>amarnandeshwar786@gmail.com</span>
        </div>
        <div class="fact">
          <label>{{ 'about.facts.phone' | t }}</label>
          <span>+91 8888445653</span>
        </div>
        <div class="fact">
          <label>{{ 'about.facts.dob' | t }}</label>
          <span>30 October 1994</span>
        </div>
        <div class="fact">
          <label>{{ 'about.facts.nationality' | t }}</label>
          <span>Indian</span>
        </div>
      </div>

      <div class="about-summary">
        <h3>{{ 'about.summary.heading' | t }}</h3>
        <p>
          {{ 'about.summary.p1' | t }}
        </p>
        <p>
          {{ 'about.summary.p2' | t }}
        </p>
      </div>
    </div>
  </div>
</div>
