<div class="content noscroll home-bg" id="home">
  <div class="intro-inner">
    <div class="fname header-title">
      <span>H</span>
      <span>E</span>
      <span>L</span>
      <span>L</span>
      <span>O</span>
      <span>.</span>
      <span>.</span>
      <span>.</span>
      <span>I'</span>
      <span>M</span>
      <span><br /></span>
      <span>A</span>
      <span>M</span>
      <span>A</span>
      <span>R</span>
      <span>&nbsp;</span>
      <span>N</span>
      <span>A</span>
      <span>N</span>
      <span>D</span>
      <span>E</span>
      <span>S</span>
      <span>H</span>
      <span>W</span>
      <span>A</span>
      <span>R</span>
      <i class="neckname hidden-xs">
        <span>(</span>
        <span>A</span>
        <span>A</span>
        <span>R</span>
        <span>Y</span>
        <span>A</span>
        <span>N</span>
        <span>)</span>
      </i>
    </div>
    <span class="title">
      Windows <span class="long">Application</span><span class="sort">Appl<sup>n</sup></span> / Web
      <span class="long">Application</span><span class="sort">Appl<sup>n</sup></span> / Mobile
      <span class="long">Application</span><span class="sort">Appl<sup>n</sup></span>
    </span>
  </div>

  <div class="owl-item-container">
    <div id="imgCarousel" class="carousel slide" data-interval="15000" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/slider/Slider1.jpg" class="img-responsive" alt="Slider image" />
        </div>
      </div>
    </div>
  </div>
</div>
