<div class="col-lg-2 menu">
  <div class="menu-shell">
    <img src="images/Img_logo.jpg" class="img-logo hidden-xs img-responsive img-thumbnail win-profile-image" alt="Profile logo" />
    <div class="hidden-lg hidden-md col-xs-12 col-sm-12 brad">
      AMAR <span class="f-name">KHUSHAL</span> NANDESHWAR
    </div>

    <div class="col-lg-12 col-md-12 hidden-xs nav" id="pc-menu">
      <a href="#home" data-section="home" (click)="navigate($event, 'home')"><span>{{ 'nav.home' | t }}</span></a>
      <a href="#about" data-section="about" (click)="navigate($event, 'about')"><span>{{ 'nav.about' | t }}</span></a>
      <a href="#exp" data-section="exp" (click)="navigate($event, 'exp')"><span>{{ 'nav.experience' | t }}</span></a>
      <a href="#projects" data-section="projects" (click)="navigate($event, 'projects')"><span>{{ 'nav.projects' | t }}</span></a>
      <a href="#skills" data-section="skills" (click)="navigate($event, 'skills')"><span>{{ 'nav.skills' | t }}</span></a>
      <a href="#edu" data-section="edu" (click)="navigate($event, 'edu')"><span>{{ 'nav.education' | t }}</span></a>
      <a href="#con" data-section="con" (click)="navigate($event, 'con')"><span>{{ 'nav.contact' | t }}</span></a>
    </div>

    <div class="col-lg-12 col-md-12 hidden-xs social">
      <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer" class="col-lg-3 col-md-3"><i class="fa fa-facebook-f"></i></a>
      <a href="http://www.youtube.com" target="_blank" rel="noopener noreferrer" class="col-lg-3 col-md-3"><i class="fa fa-youtube"></i></a>
      <a href="http://www.linkedin.com" target="_blank" rel="noopener noreferrer" class="col-lg-3 col-md-3"><i class="fa fa-linkedin"></i></a>
      <a href="http://www.google.com" target="_blank" rel="noopener noreferrer" class="col-lg-3 col-md-3"><i class="fa fa-google-plus-official"></i></a>
    </div>
  </div>
</div>
