<div class="content about-bg" id="mail-to">
  <div class="row">
    <div class="mail-section col-lg-4">
      <form id="contact-form" name="contact-form" class="form" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="mail-header">
          <h3>{{ 'mail.heading' | t }}</h3>
          <p>{{ 'mail.subheading' | t }}</p>
        </div>
        <input
          type="text"
          name="company_name"
          [(ngModel)]="formModel.hp"
          tabindex="-1"
          aria-hidden="true"
          autocomplete="off"
          style="position:absolute;left:-9999px;opacity:0;height:0;width:0;border:0;padding:0;" />
        <label class="visually-hidden" for="user_name">{{ 'mail.nameLabel' | t }}</label>
        <input
          type="text"
          id="user_name"
          name="name_name"
          [placeholder]="'mail.namePlaceholder' | t"
          [(ngModel)]="formModel.name"
          required />
        <label class="visually-hidden" for="email_name">{{ 'mail.emailLabel' | t }}</label>
        <input
          type="email"
          id="email_name"
          name="email_name"
          [placeholder]="'mail.emailPlaceholder' | t"
          [(ngModel)]="formModel.email"
          required
          email />
        <label class="visually-hidden" for="comment">{{ 'mail.messageLabel' | t }}</label>
        <textarea
          id="comment"
          name="comment"
          [placeholder]="'mail.messagePlaceholder' | t"
          cols="20"
          rows="5"
          [(ngModel)]="formModel.comment"
          required></textarea>
        <input
          type="submit"
          name="btn_submit"
          id="btn_submit"
          [value]="isSubmitting ? ('mail.sending' | t) : ('mail.send' | t)"
          [disabled]="isSubmitting" />
        <p class="pro-profile" *ngIf="statusMessage">{{ statusMessage }}</p>
      </form>
    </div>
  </div>
</div>
